SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="2341", ENV{ID_MODEL_ID}=="0043", ENV{ID_SERIAL_SHORT}=="75830333737351E07131", SYMLINK+="arduino-01"
SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="1a86", ENV{ID_MODEL_ID}=="7523", ENV{ID_SERIAL}=="1a86_USB2.0-Serial", SYMLINK+="arduino-02"